@using CMSCarousel.Entities;
@model AddContentViewModel

@{
    ViewBag.Title = "AddContent";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div class="Main_Container">

    <div class="Page_Heading">Add Content</div>



    <form style="padding:20px;">

        <div class="row">
            <div class="col-xs-3">
                <div class="form-group">
                    <label class="text-info" for="sel1">Country</label>
                    <select class="form-control" id="drpCountry">
                        @if (Model.Countries != null)
                        {
                            foreach (thac_country country in Model.Countries)
                            {
                                <option value="@country.Id">@country.Name</option>
                            }
                        }
                    </select>
                </div>
            </div>
            <div class="col-xs-3">
                <div class="form-group">
                    <label class="text-info" for="sel1">Language</label>
                    <select class="form-control" id="drpLanguage">
                        @if (Model.Languages != null)
                        {
                            foreach (thac_language language in Model.Languages)
                            {
                                <option value="@language.Id">@language.Name</option>
                            }
                        }
                    </select>
                </div>
            </div>
        </div>      

      

            <label for="servcie" class="text-info">Select Services</label> 
            <hr />
       

        <div class="row">
          
            @if (Model.Services != null)
            {
                foreach (thac_service service in Model.Services)
                {
                    <div onclick="GetContent('@service.Id')" class="col-xs-2" style="width:90px !important;cursor:pointer">
                        <img style="height: 65px;width: 80px;" src="~/Content/Images/ServicesIcon/@service.ImageUrl" />
                        <div id="divServiceName_@service.Id" style="width:80px;text-align:center">@service.Name</div>
                    </div>
                }
            }

            <input type="text" id="txtServiceId" style="display:none" />
        </div>
        <hr />
       
        <div class="row">
            <div class="col-xs-12">
                <div style="display:block;" id="divIsEnabled" class="form-group">                    
                    <input style="height:15px;width:15px" type="checkbox" id="chkIsEnabled"  /><b class="text-info"> Activate Content?</b> 
                </div>
            </div>
        </div>
        <br />
        <div class="row">
            <div class="col-xs-10">
                <div class="form-group">
                    <label class="text-info" for="sel1">Content</label>
                    <textarea id="editorContent" class="form-control" name="editorContent"></textarea>
                </div>
            </div>
        </div>       
        <div class="row">
            <div class="col-xs-12">
                <div class="form-group">
                    <input id="btnSave" onclick="SaveContent()" type="button" class="btn-success" value="Save Content" />
                </div>
            </div>
        </div>


    </form>


</div>

@Scripts.Render("~/bundles/jquery")
@section  Scripts
{
   
@*<script src="~/Scripts/ckeditor_4.8.0/ckeditor_4.8.0.js"></script>*@
<script src="https://cdn.ckeditor.com/4.8.0/standard/ckeditor.js"></script>
    <script>
        CKEDITOR.replace('editorContent');
    </script>

    <script type="text/javascript">

        $(document).ready({


        });


        function SaveContent()
        {

            if ($("#txtServiceId").val() == "")
            {
                alert("Please select service.");
            }
            else
            {
                if (CKEDITOR.instances['editorContent'].getData() == "")
                {
                    alert("Please enter content in content box.");
                }
                else
                {
                    $.ajax({
                        type: "POST",
                        traditional: true,
                        url: "/Content/SaveContent",
                        data: "{serviceId: '" + $("#txtServiceId").val() + "', languageId: '" + $("#drpLanguage").val() + "', countryId: '" + $("#drpCountry").val() + "', isActive: '" + $("#chkIsEnabled").prop("checked") + "', content: '" + CKEDITOR.instances['editorContent'].getData() + "'}",
                        contentType: "application/json; charset=utf-8",
                        dataType: "json",
                        success: function (data) {

                            // Success
                            if (data.Result > 0) {

                                alert("Content saved successfully.");
                            }
                            //Error
                            else {

                                if (data.Result == -1) {

                                    alert(data.ErrorMessage);
                                }
                                
                            }

                        },
                        error: function (request, status, errorThrown) {

                            alert("Error: " + errorThrown);                           

                        }
                    });
                }
            }
        }

        function GetContent(serviceId)
        {

            $("#txtServiceId").val(serviceId);
            $("div[id^='divServiceName_']").attr("style", "width:80px;text-align:center;");
            $("#divServiceName_" + serviceId).attr("style", "width:80px;text-align:center;font-weight:bold;color:red;");
            $.ajax({
                type: "POST",
                traditional: true,
                url: "/Content/GetContent",
                data: "{serviceId: '" + serviceId + "', languageId: '" + $("#drpLanguage").val() + "', countryId: '" + $("#drpCountry").val() + "'}",
                contentType: "application/json; charset=utf-8",
                dataType: "json",
                success: function (data) {

                    // Success
                    if (data.ErrorStatus == 0) {

                                            
                        if (data.ServiceOption.IsActive == true) {
                            $("#chkIsEnabled").prop("checked", true);
                        }
                        else {
                            $("#chkIsEnabled").prop("checked", false);
                        }
                        
                        CKEDITOR.instances['editorContent'].setData(data.ServiceOption.ContentMessage);
                    }
                    //Error
                    else {

                        if (data.ErrorMessage != "Data Not Found") {
                            
                            alert(data.ErrorMessage);
                        }                        
                        CKEDITOR.instances['editorContent'].setData("");
                        $("#chkIsEnabled").attr("checked", false);
                    }

                },
                error: function (request, status, errorThrown) {

                    alert("Error: " + errorThrown);                   

                }
            });

        }

    </script>

}