@using CMSCarousel.Entities;
@model AddContentViewModel

@{
    ViewBag.Title = "AddContent";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@Scripts.Render("~/bundles/jqueryui")
@Scripts.Render("~/bundles/bootstrap")

<div class="Main_Container">

    <div class="Page_Heading">Add Content</div>



    <form style="padding:20px;">

        <div class="row">
            <div class="col-xs-3">
                <div class="form-group">
                    <label class="text-info" for="sel1">Country</label>
                    <select class="form-control" id="drpCountry" onchange="CountryChange()">
                        @if (Model.Countries != null)
                        {
                            foreach (thac_country country in Model.Countries)
                            {
                                if (country.Id == Model.CountryId)
                                {
                                    <option value="@country.Id" selected>@country.Name</option>
                                }
                                else
                                {
                                    <option value="@country.Id">@country.Name</option>
                                }
                            }
                        }
                    </select>
                </div>
            </div>
            <div class="col-xs-3">
                <div class="form-group">
                    <label class="text-info" for="sel1">Language</label>
                    <select class="form-control" id="drpLanguage" >
                        @if (Model.Languages != null)
                        {
                            foreach (thac_language language in Model.Languages)
                            {
                                if (language.Id == Model.LanguageId)
                                {
                                    <option value="@language.Id" selected>@language.Name </option>
                                }
                                else
                                {
                                    <option value = "@language.Id"> @language.Name </option>

                                }
                            }
                        }
                    </select>
                </div>
            </div>
            
        </div>      
            

            <label for="servcie" class="text-info">Select Services</label> 
            <hr />
       

        <div class="row">
          
            @if (Model.Services != null)
            {
                foreach (thac_service service in Model.Services)
                {
                    <div id="divService_@service.ServiceCode" onclick="GetContent('@service.Id')" class="col-xs-2" style="width:65px !important;cursor:pointer">
                        <img style="height: 40px;width: 58px;" src="~/Content/Images/ServicesIcon/@service.ImageUrl" />
                        @if (service.Id == Model.ServiceId)
                        {
                            <div id="divServiceName_@service.Id" style="width:58px;text-align:center;font-weight:bold;color:red;font-size:11px">@service.Name</div>
                        }
                        else
                        {
                            <div id="divServiceName_@service.Id" style="width:58px;text-align:center;font-size:11px">@service.Name</div>
                        }
                    </div>
                }
            }

            <input type="text" id="txtServiceId" style="display:none" />
        </div>
        <hr />
                       
       <div class="row">

           <div class="col-xs-12">
               <div class="form-group">
                   <label class="text-info" for="sel0">Title</label>
                   <input style="height: 28px;" type="text" id="txtTitle" class="form-control input-sm" value="@Model.ContentTitle" />
               </div>
           </div>

       </div>

        <div class="row">
            <div class="col-xs-10">
                <div class="form-group">
                    <label class="text-info" for="sel1">Content</label>
                    <textarea style="height:70px" id="editorContent" class="form-control" name="editorContent">@Model.ContentMessage</textarea>
                </div>
            </div>
        </div>  
        

        <div class="row">
            <div class="col-xs-12">
                <div class="form-group">
                    <input id="btnSave" data-toggle="modal" data-target="#divSaveContentModel"  type="button" class="btn btn-success" value="Save Content" />
                </div>
            </div>
        </div>

        <input id="txtMaxLenthTitle" type="text" style="display:none" />
        <input id="txtMaxLenthContent" type="text" style="display:none" />
        <input id="txtPlusOneCountries" type="text" style="display:none" />

    </form>


</div>



@*<---- Model -------->*@

<div id="divSaveContentModel" class="modal fade" role="dialog">
    <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Confirmation</h4>
            </div>
            <div class="modal-body">
                
                <div class="" style="margin-bottom:30px">This content will be <span style="color:red;font-weight:bold">In-Active.</span> To send the text to the app, please activate content by clicking checkbox.</div>
                
                <div class="row">
                    <div class="col-xs-12">
                        <div style="display:block;" id="divIsEnabled" class="form-group">                   
                        <input style="height:15px;width:15px" type="checkbox" id="chkIsEnabled"  /><b class="text-info"> Activate Content?</b>
                        </div>
                    </div>
                </div>

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-success" data-dismiss="modal" onclick="SaveContent()">Save Content</button>
                <button type="button" class="btn btn-danger" data-dismiss="modal">Cancel</button>
            </div>
        </div>

    </div>
</div>


@Scripts.Render("~/bundles/jquery")
@section  Scripts
{
   
@*<script src="~/Scripts/ckeditor_4.8.0/ckeditor_4.8.0.js"></script>*@
@*<script src="https://cdn.ckeditor.com/4.8.0/standard/ckeditor.js"></script>
    <script>
        CKEDITOR.replace('editorContent');
    </script>*@
@*<script src="~/Content/Javascript/ckeditor/ckeditor.js"></script>*@



    <script type="text/javascript">

        $("#txtMaxLenthContent").val('@Model.MaxLengthContent');
        $("#txtMaxLenthTitle").val('@Model.MaxLengthTitle');
        $("#txtPlusOneCountries").val('@Model.PlusOneCountries');

        $(document).ready(function () {
    //CKEDITOR.replace('editorContent');
    //var options = {
    //    width: 800,
    //    height: 500,
    //    controls: "bold italic underline strikethrough subscript superscript | font size style | color highlight removeformat | bullets numbering | outdent indent | alignleft center alignright justify | undo redo | rule link image unlink | cut copy paste pastetext | print source"
    //};
    //var editor = $("#editor").cleditor(options)[0];

        if ('@Model.ServiceId' != -1) {
            $("#txtServiceId").val('@Model.ServiceId');
            }

        Invite_PlusOne();

});


        function CharacterCountExceeded(htmlElementId,countLimit)
        {
            if ($("#" + htmlElementId).val().length > countLimit)
                return true;
            else
                return false;
        }

        function CountryChange()
        {
            Invite_PlusOne();
        }

        function Invite_PlusOne()
        {

            var PlusOne_Countries = $("#txtPlusOneCountries").val();
            var selectedCountry = $("#drpCountry option:selected").text();

            if (PlusOne_Countries.indexOf(selectedCountry) == -1) {

                $("#divService_plusone").hide();
                $("#divService_invite").show();
            }
            else
            {
                $("#divService_plusone").show();
                $("#divService_invite").hide();
            }
        }

        function SaveContent()
        {

            if ($("#txtServiceId").val() == "")
            {
                alert("Please select service.");
            }
            else
            {
                //if (CKEDITOR.instances['editorContent'].getData() == "")
                //{
                //    alert("Please enter content in content box.");
                //}
                if ($('#editorContent').val() == "") {

                    alert("Please enter content in content box.");
                }
                else
                {

                    if ($("#txtTitle").val() == "") {
                        alert("Please enter title.");
                    }
                    else {

                        if (CharacterCountExceeded("txtTitle", parseInt($("#txtMaxLenthTitle").val()))) {

                            alert("Maximum character limit for 'Title' is " + $("#txtMaxLenthTitle").val() + ". Please enter correct value for 'Title'")
                        }
                        else {

                            if (CharacterCountExceeded("editorContent", parseInt($("#txtMaxLenthContent").val()))) {

                                alert("Maximum character limit for 'Content' is " + $("#txtMaxLenthContent").val() + ". Please enter correct value for 'Content'")
                            }
                            else {

                                    $.ajax({
                                    type: "POST",
                                    traditional: true,
                                    url: "/Content/SaveContent",
                                    //data: "{serviceId: '" + $("#txtServiceId").val() + "', languageId: '" + $("#drpLanguage").val() + "', countryId: '" + $("#drpCountry").val() + "', isActive: '" + $("#chkIsEnabled").prop("checked") + "',  title: '" + $("#txtTitle").val() + "', content: '" + CKEDITOR.instances['editorContent'].getData() + "'}",
                                    data: "{serviceId: '" + $("#txtServiceId").val() + "', languageId: '" + $("#drpLanguage").val() + "', countryId: '" + $("#drpCountry").val() + "', isActive: '" + $("#chkIsEnabled").prop("checked") + "',  title: '" + $("#txtTitle").val() + "', content: '" + $('#editorContent').val() + "'}",

                                    contentType: "application/json; charset=utf-8",
                                    dataType: "json",
                                    success: function (data) {

                                        // Success
                                        if (data.Result > 0) {

                                            alert("Content saved successfully.");
                                        }
                                        //Error
                                        else {

                                            if (data.Result == -1) {

                                                alert(data.ErrorMessage);
                                            }

                                        }

                                    },
                                    error: function (request, status, errorThrown) {

                                        alert("Error: " + errorThrown);

                                    }
                                });
                            }
                        }
                    }
                }
            }
        }

        function GetContent(serviceId)
        {

            $("#txtServiceId").val(serviceId);
            $("div[id^='divServiceName_']").attr("style", "width:58px;text-align:center;font-size:11px");
            $("#divServiceName_" + serviceId).attr("style", "width:58px;text-align:center;font-weight:bold;color:red;font-size:11px");
            $.ajax({
                type: "POST",
                traditional: true,
                url: "/Content/GetContent",
                data: "{serviceId: '" + serviceId + "', languageId: '" + $("#drpLanguage").val() + "', countryId: '" + $("#drpCountry").val() + "'}",
                contentType: "application/json; charset=utf-8",
                dataType: "json",
                success: function (data) {

                    // Success
                    if (data.ErrorStatus == 0) {


                        if (data.ServiceOption.IsActive == true) {
                            $("#chkIsEnabled").prop("checked", true);
                        }
                        else {
                            $("#chkIsEnabled").prop("checked", false);
                        }

                        $("#txtTitle").val(data.ServiceOption.ContentTitle);

                        //CKEDITOR.instances['editorContent'].setData(data.ServiceOption.ContentMessage);
                        $('#editorContent').val(data.ServiceOption.ContentMessage);
                    }
                    //Error
                    else {

                        if (data.ErrorMessage != "Data Not Found") {

                            alert(data.ErrorMessage);
                        }
                        $("#txtTitle").val("");
                        //CKEDITOR.instances['editorContent'].setData("");
                        $('#editorContent').val("");
                        $("#chkIsEnabled").attr("checked", false);
                    }

                },
                error: function (request, status, errorThrown) {

                    alert("Error: " + errorThrown);
                    $("#txtTitle").val("");
                    //CKEDITOR.instances['editorContent'].setData("");
                    $('#editorContent').val("");
                    $("#chkIsEnabled").attr("checked", false);

                }
            });

        }

    </script>

}